[2015-11-29 08:25] patroclos opened #1 "Sampling probablilities do not sum to 1"
When I do "print repr(sum(p))" it always gives me numbers very close to 1.0 like 1.00000052 0.9999999248 and so on

Traceback (most recent call last):
  File "sample.py", line 38, in <module>
    main()
  File "sample.py", line 21, in main
    sample(args)
  File "sample.py", line 35, in sample
    print model.sample(sess, chars, vocab, args.n, args.prime)
  File "/home/patro/Documents/Programming

[2015-11-29 08:47] sherjilozair commented on #1
Interesting. I haven't faced this myself.

How can I reproduce this?

Could you also mention your Numpy version?

[2015-11-29 09:41] patroclos commented on #1
I am on 64bit Linux with numpy 1.9.2 and this happens when I run sample.py

[2015-11-29 14:22] patroclos commented on #1
So, I worked around this issue by manually doing the random choice like this, since the sum does not greatly differ from actual 1.0

I replaced
sample = int(np.random.choice(len(p), p=p))
with
rn = random.random()
cnt=0.0
for i in range(len(p)):
  cnt+=p[i]
  if rn <= cnt:
    sample=i
     break

[2015-11-29 21:33] sherjilozair commented on #1
You could also try using Numpy 1.10; that's the version I am using.
You could also explicitly normalize by `p /= p.sum()`.

Thanks for posting your fix.

[2015-11-30 05:49] patroclos commented on #1
I already tried to explicitly normalize p but that does nothing for me.
I will try changing my numpy version later

[2015-11-30 22:20] nfmcclure commented on #1
I too had this problem.  Here is my ad-hoc fix in the model.py file:

        # EDIT BELOW:
        # Reason for edit:  the sample line below requires the sum(p) == 1.
        #  This is not the case always.
        #  Instead, let's implement a sampling algorithm that samples per
        #  weighted p.

    def sample(self, sess, chars, vocab, num=200, prime='The '):
        state = self.cell.zer

[2015-12-01 01:18] sherjilozair commented on #1
Thanks @nfmcclure. This seems like a bug in numpy. A similar issue was raised for Theano as well. I like your solution. Do you mind sending in a pull request for the same? Thanks.

[2015-12-01 02:06] nfmcclure commented on #1
No problem.  Thanks for doing this, by the way! It was on my list of projects to do.

[2015-12-01 17:04] ronxin commented on #1
Thank you, @nfmcclure. I had the same problem and your fix works perfectly.

[2015-12-01 18:16] ronxin opened #3 "load_preprocessed error - TypeError: unhashable type: 'dict'"
I got this error when trying to train on a preprocessed input.

The error comes from here: https://github.com/sherjilozair/char-rnn-tensorflow/blob/master/utils.py#L42

self.chars is a tuple with (1) a list of chars and (2) a dict of char to integer mapping. I changed the function to just get it running:

	def load_preprocessed(self, vocab_file, tensor_file):
	    with open(vocab_file) as f:

[2015-12-01 19:23] sherjilozair commented on #3
`self.chars` is just a list of characters, and that's what's being stored in the vocab_file. Check this: https://github.com/sherjilozair/char-rnn-tensorflow/blob/master/utils.py#L34

I'm not sure why are you getting this error. Are you sure you haven't changed something which is causing this problem?

[2015-12-01 20:04] ronxin commented on #3
No, I did not change anything. I will let you know shortly how to replicate the error.

[2015-12-01 21:41] ronxin commented on #3
@sherjilozair I found out why.

Normally, during preprocessing, two `vocab.pkl` are created, one in `data_dir` and the other in `save_dir`. The two files are different.

https://github.com/sherjilozair/char-rnn-tensorflow/blob/master/utils.py#L34
https://github.com/sherjilozair/char-rnn-tensorflow/blob/master/train.py#L48

In my experiment I set `--data_dir` and `--save_dir` to be the same folder,

[2015-12-01 21:42] sherjilozair commented on #3
Whoops. Quite a nasty bug. I'll fix this later today. Thanks for figuring this out.

[2015-12-05 10:17] soobrosa commented on #1
Hi, after training and hard patching with https://github.com/sherjilozair/char-rnn-tensorflow/pull/2 I get
[code]
What could I do wrong? (I'm OS X.)

[2015-12-05 22:14] sherjilozair commented on #1
@soobrosa, The first 4 lines are expected. The last one which says "None" does not look good. Could you perhaps add print statements to see what is outputting that particular "None"?

Also, I've merged in @nfmcclure's patch (Thanks!). So, you could try again with the latest master. Maybe you introduced a bug when you patched it yourself.

[2015-12-06 01:25] #3 closed

[2015-12-06 10:43] soobrosa commented on #1
@sherjilozair `model.sample(sess, chars, vocab, args.n, args.prime)` is `None`.

I trained, then tried to sample.

[code]

ends up in

[code]

[2015-12-07 19:21] rhaps0dy opened #4 "Why is `embeddings` in `model.py` random, instead of one-hot?"
Hello,

If I understand correctly, the tridimensional `inputs` tensor is built by looking up the n-th row of `embeddings` for each number in the bidimensional `self.input_data` tensor. The rows of `embeddings` have the same size as the RNN's internal layers. This seems to be the way to input the different characters to the network.

The Tensorflow variable `"embeddings"` has nothing assigned to it

[2015-12-07 23:21] sherjilozair commented on #4
Hi @rhaps0dy,

Both approaches are equally correct, and different implementations of the same model.

1. @karpathy's approach is to have a fixed embedding which is multiplied by a weight matrix, before being used by subsequent layers. Since the embedding is one-hot, the matrix multiplication is essentially an indexing operation.
2. In my approach, as well as the approach taken in tensorflow's PTB

[2015-12-08 00:55] rhaps0dy commented on #4
Hello @sherjilozair,

Ah, this makes a lot of sense. Also, you have to learn n_chars\*rnn_size for the embeddings, instead of  n_chars\*rnn_size + n_chars for weights and biases for the one-hot, so there are less parameters to learn. (Did I understand that correctly?)

Many thanks!

[2015-12-08 00:55] #4 closed

[2015-12-08 05:21] sherjilozair commented on #4
In principle, yes, although the biases can always be removed, or the embedding matrix multiply layer can be merged with the RNN layer, as has been done in the gist you attached.

[2015-12-08 05:27] sherjilozair commented on #1
Could you do a fresh checkout, and then run
1. `python train.py` (let this run for 1000 iterations, and then kill it after the 1001th iteration)
2. `python sample.py`
Do not use any arguments to the scripts for sanity check.

If this works, then we can proceed to understanding why it's failing to work for your setup.

[2015-12-15 19:22] richtera opened #5 "Not a big deal but your output files are not part of .gitignore"
These show as modified:

[code]

[2015-12-21 23:52] sherjilozair commented on #5
I'm sorry I just don't do `git add .`, so didn't face this problem.

I'll fix this soon. Thanks for the report.

[2016-01-08 12:55] richtera opened #7 "Curious..."
Hi
I wanted to see whether I could learn things about other types of text but it seems to be problematic. Is there something specific about the headline chapter format of these plays that somehow made it into the model? Curious, when I give it other texts the loss never decreases below 1.2.
Just curious
Andy

[2016-01-18 02:40] shuiyuanzh opened #8 "How to calculate prob of a new sentence."
My goal is to predict a probability of a new sentence, could you give a example of hot to calculate the probability of a new sentence?

[2016-01-23 15:02] soobrosa commented on #1
Thanks, after ~1000 iterations it spits the funny text.

[2016-02-18 13:57] thecerial opened #9 "IndexError is out of Bounce"
loading preprocessed files
Traceback (most recent call last):
  File "train.py", line 75, in <module>
    main()
  File "train.py", line 39, in main
    train(args)
  File "train.py", line 42, in train
    data_loader = TextLoader(args.data_dir, args.batch_size, args.seq_length)
  File "/home/onetipp/char-rnn/char-rnn-tensorflow/utils.py", line 22, in __init__
    self.create_batches()
  File "/ho

[2016-02-22 21:02] davidbernat opened #10 "NotImplementedError: Negative indices are currently unsupported"
Line 53 of model.py contains the code:
`self.final_state = states[-1]
`

This throws the following exception.  Tensorflow does not support Tensors with negative indices.  (At least in the publicly available version.)  What is the workaround?  So many thanks.

[2016-02-22 21:43] davidbernat commented on #10
The issue appears to be related to the call to seq2seq.rnn_decoder.  This method returns a single state Tensor; not a list of Tensors, as the original code appears to suggest.  The changes below compile and run, but do not perform well.

[code]

[2016-02-23 19:53] thecerial opened #11 "create_batches() from utils.py throws error"
root@ip-172-31-23-174:/home/ubuntu/char-rnn# python train.py
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:105] successfully opened CUDA library libcufft.so locally
I tensorflow/stream_executor/dso_lo

[2016-02-27 13:11] thecerial opened #13 "Error while trying to start your software"
loading preprocessed files
Traceback (most recent call last):
  File "train.py", line 75, in <module>
    main()
  File "train.py", line 39, in main
    train(args)
  File "train.py", line 50, in train
    model = Model(args)
  File "/home/tensorflow/tests/char-lstm-16/model.py", line 53, in __init__
    self.final_state = states[-1]
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python

[2016-02-28 17:50] thecerial commented on #10
Thank you very much for that fix!:)

[2016-02-28 17:53] thecerial commented on #10
# Howto fix "NotImplementedError: Negative indices are currently unsupported"

 #outputs, states = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm')
        outputs, **state** = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm')
        output = tf.reshape(tf.concat(1, outputs), [-1,

[2016-03-05 12:12] sherjilozair commented on #13
https://github.com/sherjilozair/char-rnn-tensorflow/pull/12 should have fixed this. Please re-open if this isn't the case.

[2016-03-05 12:12] #13 closed

[2016-03-05 12:13] sherjilozair commented on #10
This is fixed now. Please re-open if not.

[2016-03-05 12:13] #10 closed

[2016-04-01 22:55] pajowu commented on #11
This happend when self.tensor.size is less than (self.batch_size * self.seq_length). You can avoid that by either reducing sec_lenght or batch_size or increasing the input data.

[2016-04-08 10:59] mohit-flipkart opened #16 "Can not convert a list into a Tensor or Operation"
Using python 2.7 & the following libraries & the latest 'master' branch. This leads to the error below (which doesn't happen when I roll back to the earlier branch:ae-rnn)

(venv)root@# python train.py
I tensorflow/stream_executor/dso_loader.cc:101] successfully opened CUDA library libcublas.so.7.0 locally
I tensorflow/stream_executor/dso_loader.cc:101] successfully opened CUDA library libcudnn.so

[2016-04-13 09:41] jiongye opened #17 "create_batches in TextLoader in utils.py doesn't seem to transform the data into batches correctly"
The following lines transform the xdata to tensors with the correct dimensions, but the output data are not in the correct order anymore.
self.x_batches = np.split(xdata.reshape(self.batch_size, -1), self.num_batches, 1)
self.y_batches = np.split(ydata.reshape(self.batch_size, -1), self.num_batches, 1)

I think the correct transformation should be the following:
self.x_batches = xdata.reshape(-1,

[2016-04-14 12:39] wohnjayne opened #18 "weighted_pick() can return invalid index"
`weighted_pick(weights)` in model.py can return an index which is larger than len(chars)-1

this happens if `sum(weights)<1`, and at the same time `np.random.rand(1)>sum(weights)`

then, `int(np.searchsorted(t, np.random.rand(1)*s) )==len(t)`, which leads to an IndexError

[code]

so probably numpy.random.choice() is the better choice, despite being slower

[2016-04-15 00:23] dendisuhubdy opened #19 "TypeError: __init__() got an unexpected keyword argument 'syntax'"
C02QH2D7G8WM:char-rnn-tensorflow userone$ python train.py
Traceback (most recent call last):
  File "train.py", line 3, in <module>
    import tensorflow as tf
  File "/usr/local/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 35, in <module>
    from te

[2016-04-15 17:30] jkerfs commented on #16
Check your version of TensorFlow.  The latest version of char-rnn-tensorflow uses TF 7.1, and there were a number of breaking changes in TF 7.0.  If you have a previous version of TF, the code will no longer work.  Here is the specific API change that is causing problems:

[Breaking Changes to the API in version 7.0](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md#breaking-changes-

[2016-04-24 10:36] aamelegy opened #22 "Tuning the temperature"
Is there a way to tune the temperature parameter ?

[2016-04-26 17:58] sherjilozair commented on #19
It seems your tensorflow installation is broken. I recommend the tensorflow github: github.com/tensorflow/tensorflow

[2016-04-26 17:58] #19 closed

[2016-04-28 13:46] hunkim commented on #9
Check out pr #25. Your sample size is too small.

[2016-04-28 13:53] hunkim opened #26 "Why we need ydata[-1] = xdata[0]?"
In def create_batches(self) (util.py):

[code]
The first line is fair enough. However, why we need the second line? Say our data is "Hello", then

x = "hello"
y="elloh"

So when h is given we expect e (h->e), e->l, etc. But why o->h (ydata[-1] = xdata[0])? Perhaps this hurts the training model.

Did I miss something here? Or you think this is only one char, so we ignore?

[2016-04-28 13:55] hunkim commented on #11
I put pr #25. Let me know this can solve your issue.

[2016-04-28 13:56] hunkim commented on #22
I think it's a good feature to implement. Can you come up with a PR?

[2016-05-31 10:30] rajarsheem opened #29 "feed data format"
can you post an example of the exact data you are feeding into the placeholders.

[2016-06-02 04:40] #29 closed

[2016-06-05 01:17] Alicemargatroid opened #30 "MemoryError"
When training on large files, I get a MemoryError despite having more than enough memory to hold the file:

[2016-06-07 17:00] kastnerkyle opened #31 "Compat issues with latest TF"
After building from HEAD of TF, I get some import errors for various things (almost every example on the web has this problem!)

I had to change imports in model.py to

[code]

Downside is that importing `tensorflow.models.rnn` raises ImportError, so something like this is probably needed to preserve backwards compat:

[code]

[2016-06-08 08:29] izqui commented on #30
Happens to me too, the current implementation needs about 20 times as RAM as the size of the input file. 500MB of input train fine using something in the neighborhood of 10GB of RAM

[2016-06-08 18:39] hunkim commented on #31
I also noticed this issue. Feel free to send PR if you know how to fix it. I guess the fix is simple.

[2016-06-09 01:57] hunkim commented on #31
I think we can check the version something like this:

[code]

[2016-06-09 07:37] M4t1ss commented on #8
Still no info on this?

[2016-06-09 12:41] sherjilozair commented on #30
Thanks for the report. @Alicemargatroid @izqui.
I need some help figuring out the right way to fix this problem.

How big is the `data.npy` file? Is it 20 times large as well?

Should we optimize the DS or switch to a streaming loader?

[2016-06-09 12:46] Alicemargatroid commented on #30
@sherjilozair I think a streaming loader would be best

[2016-06-09 14:09] izqui commented on #30
@sherjilozair Right now char-rnn is using 13.54 GB of RAM and this is the size of the `data` files:
[code]

[2016-06-14 14:03] totuta opened #32 "weighted_pick() gives random choices?"
Hi, does weighted_pick() return random characters?

with `sampling_type=1`, `return(int(np.searchsorted(t, np.random.rand(1)*s)))` looks like giving a random choice out of the array t. And that's what I'm having right now. Is it intentional? Or am I doing something wrong?

[2016-06-14 18:36] totuta commented on #32
I figured it out. It chooses the next character randomly out of **k-most probable** characters. Makes sense.

[2016-06-14 19:29] totuta commented on #32
Now I got it. `t = np.cumsum(weights)` makes characters with higher probability to have bigger interval just before itself and that makes the seemingly random choice to be **weighted** pick. Makes sense.

[2016-06-14 19:30] #32 closed

[2016-06-14 21:34] totuta opened #33 "No validation/test?"
Hi,

Looks like your code doesn't have validation or testing part. Hope it can use some fraction of input.txt for valid/test purpose. Any plan?

[2016-06-14 21:37] totuta opened #34 "No dropout option?"
Also, dropout doesn't seem to be there. Any way we can use some regularization?

[2016-06-23 16:53] john-parton opened #38 "Support Unicode Input Files"
Python opens files as bytes by default. It would be nice if `TextLoader.preprocess` read the file and encoded it as unicode.

I'll submit a PR.

Thanks.

[2016-06-24 13:26] john-parton commented on #38
I got unicode _input_ files working, but `sample.py` wasn't unicode aware. I'll submit a new PR with a proposed fix.

[2016-07-10 01:56] nournia commented on #8
It is the most obvious application of language model. Anyone can help?

[2016-07-12 02:25] nournia opened #42 "Char sequence probability"
Hi,
I'm using `char-rnn` for computing sentence probability, which is main functionality of language modeling. This piece of code feeds sentence chars one by one and finds out probability of correctly predicting next char:

	state = self.cell.zero_state(1, tf.float32).eval(session=session)
	char_probas = []
	input = np.zeros((1, 1))
	for c, char in enumerate(sentence[:-1]):
		input[0, 0] = vocab[c

[2016-07-28 00:36] pranjaldaga commented on #42
@nournia Does 'log_probability' here give you the sentence probability?

[2016-07-28 10:27] nournia commented on #42
I've updated that piece of code and removed `log` from probability computation.

[2016-07-29 22:29] pranjaldaga commented on #42
It returns 'nan' when I try it with any sentence. Do you get the floating point probabilities with this @nournia ?

[2016-08-02 07:49] nournia commented on #42
It works for me.
Are you getting proper results from `sample.py` script?

[2016-08-23 14:03] wichtounet opened #47 "Cannot train: 'tuple' object has no attribute 'eval'"
Hi,

I tried this implementation of char-rnn and I have an issue with the train script:

I'm using the last version of tensorflow and Python 3.4.

Thanks

[2016-08-25 18:41] thecameronjones opened #48 "[Deprecation Warning] Using a concatenated state is slower and will soon be deprecated."
I am receiving a deprecation warning when I run train.py or sample.py: `Using a concatenated state is slower and will soon be deprecated.  Use state_is_tuple=True.` Is there a workaround for this?

Thanks,
CJ

[2016-09-12 14:07] qiubs commented on #47
try replacing the line
`           state = model.initial_state.eval()`
with
`           model.initial_state = tf.convert_to_tensor(model.initial_state)
            state = model.initial_state.eval()`

It worked for me but I'm not sure how it would affect performance. Interestingly, I only experienced this problem when I compiled TF for use of my gpu.

[2016-10-05 03:12] astr010 commented on #47
I am using Ubuntu/Linux 64-bit CPU Only, Python 2.7 Tensorflow-0.11 and this fixed my issue

[2016-10-05 09:07] wichtounet commented on #47
I fixed this issue using sess.run which seems to make more sense in my opinion.

[2016-10-19 13:42] PratikshaTaneja opened #52 "W tensorflow/core/framework/op_kernel.cc:909] Resource exhausted:OOM when allocating tensor with shape[1250,25670]"
I am getting error while running train.py
Traceback (most recent call last):
file "train.py", line 111,in <module>
main()
File "train.py", line 48, in main
train(args)
File "train.py", line 98, in train
train_loss, state, _= sess.run([model.cost,model.final_state,model.train_op],feed)
File "usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py", line 372, in run
run_metadata_pt

[2016-10-21 14:46] #47 closed

[2016-10-22 03:03] PratikshaTaneja commented on #52
i have 4 GB RAM. i am using default hyperparameters  and i have not changed anything. i am using tensorflow 0.9.0 on ubuntu 14.04

[2016-10-23 22:40] fujimotomh commented on #33
To anyone interested, [this fork](https://github.com/fujimotomh/char-rnn-tensorflow) has validation and test splitting implemented like Justin Johnson's [torch-rnn](https://github.com/jcjohnson/torch-rnn/blob/master/doc/flags.md#preprocessing) as well as some other things like dropout, state as tuple, and sampling with temperature. I redid many names and the arrangement in the fork, but I hope it'

[2016-10-24 22:50] thecameronjones commented on #48
Thanks

[2016-10-25 23:52] fujimotomh opened #54 "loop function"
Hi, I was wondering if someone could confirm my suspicion. I think this code in model.py is not ever used with the way sampling is done currently.

[code]

When I change to this, training and sampling seems to work fine

[code]

Looking at the source for seq2seq.rnn_decoder, if input has length 1 (which it does when infer == True), the loop function is never used. Am I missing something? It almost

[2016-10-26 02:46] hpssjellis opened #55 "Tensorflow 0.11 Tuple issue"
This works fine for me with Tensorflow 0.10 but does not with Tensorflow 0.11

Some issue with Tuple. Is anyone else having this issue?

state_is_tuple=true

might be the solution but not sure where to use it in both train.py and model.py

[2016-10-26 18:23] Saevoil commented on #55
The problem appeared the same when I was using 0.8, and it is all fine at 0.1. Maybe because that was the newest stable release?

[2016-10-27 15:07] johndpope opened #57 "Enhancement - Dockerfile + GIST"
I drafted this Dockerfile with parsey mcparseface.

https://github.com/johndpope/DockerParseyMcParsefaceAPI/blob/master/docker/dsparseyapi/Dockerfile

(there's a script that goes off and builds parsey with grpc api - takes > 90 mins on mac)
But you could cherry pick base file.

[2016-10-27 17:53] bzz commented on #33
@fujimotomh I might have missed it, but in your branch, where is the code that creates all those files?

[code]

[2016-10-27 21:05] fujimotomh commented on #33
Hi Alexander. I changed some of the layout of the code from the original
author. I separated the preprocess step from training. The files are
created in preprocess.py.

On Oct 27, 2016 10:53 AM, "Alexander" <notifications@github.com> wrote:

[2016-10-30 05:07] ckcz123 opened #58 "How to reduce GPU memory?"
What a wonderful project! I have used it to solve some problems.
But there is one problem that always bothers me.

In one of the cases, I have to use `rnn_size=512`, `num_layers=2`, `seq_length=1200`.
Other arguments: `batch_size=10`, `num_epochs=50`, `grad_clip=5.0`, and so on.
But it will allocate 7.23GiB in GPU, which is only 8GB-free.
So I wonder if I can reduce GPU memory in this case.
`rnn_s

[2016-10-30 05:12] ckcz123 commented on #58
And I wonder why it need 7.23GiB memory? Can anyone explain it?

[2016-10-31 04:02] fujimotomh commented on #58
I think your seq length is very high. 1200 is quite long. Tensorflow has this issue with the way it creates these kinds of graphs using seq2seq [see this issue](https://github.com/tensorflow/tensorflow/issues/511). You may try to remake it using dynamic_rnn as they suggest in the comments. A quick fix might be to lower your batch size. Though it is already low so your loss may be noiser.

[2016-10-31 13:48] ckcz123 commented on #58
@fujimotomh Thank you for your reply.
But I wonder how can I modify the code as I'm just new to tensorflow?

I just tried to use
`outputs, last_state = tf.nn.rnn(cell, inputs, initial_state=self.initial_state, cell, scope='rnnlm')`
instead of
`outputs, last_state = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm')`
, and it can work! (But I

[2016-10-31 18:35] fujimotomh commented on #58
@ckcz123 You almost have it. `dynamic_rnn` takes the input as a tensor and not a list. This works on my laptop with a seq_length of 1200.

[code]

To confirm correctness, I think the best thing to do would be to run it with default parameters and see if you can get low loss on the training set. I would suspect this would work though as `rnn_decoder` and `dynamic_rnn` claim have the same function.

[2016-11-01 02:08] ckcz123 commented on #58
@fujimotomh  Oh, it works! Only 1.1G usage of GPU memory!
Thanks for your advice!

[2016-11-04 10:06] wrapperband opened #59 "Interface to save checkpoint?"
The interface has been changed from char-rnn, so I didn't set the save checkpoint correctly. I've got a larger nn size started with tensor-rnn and it looks like it won't do a checkpoint till 50 epochs.

It's currently on 36 and is calculating 2 epochs per day (250 buffer), ie another week.

Looking at the learning rate it would have been great to save a checkpoint "on demand"  i.e. via  keyboard c

[2016-11-15 04:55] PratikshaTaneja opened #61 "how to change output format?"
Output produced is in paragraph form, i want to have it in dialogues form separated by line. how to do so?

[2016-11-16 09:57] ckcz123 opened #62 "Add attention to the model"
What if I'd like to use `attention_decoder` instead of `rnn_decoder`?

I wonder how to modify `outputs, last_state = seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if infer else None, scope='rnnlm')`.

What should `attention_states` be?

[2016-11-22 18:37] martiansideofthemoon opened #63 "Bidirectional RNN?"
There should be an option to add a bidirectional recurrent neural network using the three core RNN cells.

[2016-12-14 02:15] PAK90 opened #67 "Attempting to load from checkpoint gives unicode error."
[code]

I'd stopped a run with ctrl+c and I assumed the checkpoint would work to restart it. Instead I get the above error. Running TF 0.12 on Win10 with CUDA 8 and cuDNN.

[2016-12-14 05:13] 333caowei opened #68 "."

[2016-12-14 05:21] #68 closed

[2016-12-20 16:44] codeman38 commented on #67
Python 3 incompatibility issue, due to binary files wrongly being opened in text mode. The pull request above should fix it.

[2016-12-20 16:50] codeman38 commented on #67
(Closed the above pull request because pull request #43, from back in July (!), does the same thing.)

[2017-01-03 04:56] prestonvanloon commented on #31
I think these are under tensorflow.contrib.

This was working for me:
[code]

[2017-01-09 06:13] kaihuchen commented on #33
@fujimotomh
Thanks for making your fork available. I find  the fact that you separated out preprocessing quite useful, since it will allow me to create higher-level "characters"  for discovering more abstract patterns.

I ran some training sessions without problem, but when running sampling (python sample.py --init_from ./checkpoints) I got the following error messages. Wonder if you could give me

[2017-01-13 06:29] hugovk commented on #9
@thecerial PR #25 is merged, can this be closed?

[2017-01-13 06:30] hugovk commented on #11
@thecerial PR #25 is merged, can this be closed?

[2017-01-13 06:30] hugovk commented on #16
@mohit-flipkart Can this be closed?

[2017-01-13 15:58] hunkim commented on #9
Sure.

On Fri, Jan 13, 2017 at 7:29 AM, Hugo <notifications@github.com> wrote:

[2017-01-13 15:58] hunkim commented on #11
Sure.

On Fri, Jan 13, 2017 at 7:30 AM, Hugo <notifications@github.com> wrote:

[2017-01-27 16:49] julien-c commented on #59
You're either training on a massive input dataset, or on a very low-compute power device :)

[2017-02-07 10:44] carlesventura commented on #16
Same problem here. How did you solve it?

[2017-02-08 04:28] prontiol opened #84 "No progress in learning"
I am trying to build my network with 21M text file, but whatever I do, it gets stuck at train_loss ~1.6 and does not progress any more. I tried changing:

- network size (from 64 to 1024)
- number of layers (2 and 3)
- batch_size (from 10 to 100)
- sequence length (from 10 to 1000)

But nothing helps and I always get my network to stop learning and stuck at about 1.6-1.7 train_loss.
How can I diag

[2017-02-12 02:38] pisiiki opened #85 "Unable to test with GRU or RNN cells"
I am on tensorflow 1.0, however it failed on 0.12 too.

[code]

Regards.

[2017-02-13 07:38] vanche opened #86 "module 'tensorflow.contrib.rnn' has no attribute"
In my tensorflow version 0.12.1, I couldn't use "from tensorflow.contrib import rnn" and "from tensorflow.nn import legacy_seq2seq".
they were moved.
So I used " tf.nn.rnn_cell" and "tf.nn.seq2seq" instead of above.

[2017-02-13 08:20] sherjilozair commented on #86
Are you sure you have the latest commits? I did merge a PR which updates char-rnn to 0.12

[2017-02-14 00:25] vanche commented on #86
thanks, after updating I can use that module

[2017-02-14 00:25] #86 closed

[2017-02-22 15:25] BSVogler opened #87 "ImportError: cannot import name legacy_seq2seq"
Hi!

I just downloaded the code and tried to run it with the train.py with tf-v1.0. I think it should train the Shakespeare example. Readme says default parameters. However it fails

[code]

[2017-02-22 15:26] BSVogler commented on #87
Hmm, my fault. I ran it with `python` and not with `python3`.

[2017-02-22 15:26] #87 closed

[2017-03-06 00:33] ubergarm commented on #61
The output is not necessarily in paragraph form, unless your input is.  The output will attempt to mimic the exact syntax structure of the input.  So design your input in the format you want the output to resemble.  Perhaps use <start><stop> markers around atomic dialogue units, or a special split character etc

[2017-03-06 00:40] ubergarm commented on #85
I can get various cells working. Using Tensorflow 1.0.0 GPU build. I did have to do a tweak for the most recent version as configuring multiple layers seems to have changed a bit.  Check out PR #89 .  I also added the latest NASCell.  Hope you get it working!

[2017-03-06 00:50] ubergarm commented on #84
I've been playing with this repo for half a day and had good luck training datasets from 500KiB (Donald Trump Tweets) to 11MiB (KJV Bible).  With default settings the `train_loss` drops to around 1.2 quite quickly (10 minutes w/ 1x GPU).  Going below that takes longer time with mixed subjective performance gains.

I haven't calculated the theoretical minimum, perhaps 1? Need to read up more and ch

[2017-03-08 05:33] gjjustc commented on #16
Same problem here. How did you solve it?

[2017-03-09 14:29] sherjilozair commented on #16
What TF version are you using?

[2017-03-10 18:51] virxxiii opened #91 "Results quite unsatisfactory"
First and foremost thanks to everybody involved in this. I really appreciate the work you are putting into this.

Previously I was using Karpathy's char-rnn but I couldn't get torch running with my gpu after updating my hardware so I was looking for a different solution and that has brought me here. Using Karpathy's rnn I was getting beautiful results with even very small datasets (around 1MB). Wi

[2017-03-12 19:53] ubergarm commented on #91
@virxxiii thanks for your feedback.  I too am interested in getting good results out of this project and comparing it to other solutions.

Just merged PR #73 which gives you the default values for all of the parameters which is a start.

Hopefully I'll start a table in the README to give a brief description of each parameter and a link to a journal article for more details etc.

Also hope to add a

[2017-03-12 19:56] ubergarm commented on #84
I hope you've had better luck, we also just added a number of PRs this weekend. Keep an eye out for a better README w/ descriptions of the parameters.

If you do have some luck feel free to post back here with your settings, data sets, and results!

Thanks

[2017-03-12 19:56] #84 closed

[2017-03-13 08:28] NiHaoUCAS opened #94 "The inputs of dynamic_rnn must be 3-D tensor?"
hi,
    I want to use _dynamic_rnn_ to train my convLSTM, the original data should be videos with dimension: [batch_size, max_time_step, high, width,channel]. But i failed to feed the data to dynamic_rnn.
I get such error:
`ValueError: Dimension must be 5 but is 3 for 'transpose' (op: 'Transpose') with input shapes: [16,?,11,40,1], [3].`
what should i do to use dynamic rnn?
version: tf 1.0
thanks

[2017-03-13 08:33] #94 closed

[2017-03-14 15:04] ubergarm commented on #34
Added dropout parameters for `input_keep_prob` and `output_keep_prob`!

[2017-03-14 15:04] #34 closed

[2017-03-14 15:04] #5 closed

[2017-03-14 15:09] ubergarm commented on #16
This seems to be working w/ TF 1.0.  Check the travis-ci builds now if you want more details for specific python versions.

I am locally running Python 2.7x and TF 1.0 and haven't seen this problem.

Feel free to open a new issue and post your exact Python and TF versions and which git hash versin of this repo you're testing.

Thanks all for contributing!

[2017-03-14 15:09] #16 closed

[2017-03-14 15:11] ubergarm commented on #1
Looks like y'all got it working, cleaning up some older issues. Thanks!

[2017-03-14 15:11] #1 closed

[2017-03-14 15:12] ubergarm commented on #31
Everything should be working now with TF 1.0.  The travis ci builds should help keep this repo up to date with latest TF.

Thanks all!

[2017-03-14 15:12] #31 closed

[2017-03-14 15:16] ubergarm commented on #59
Unfortunately for you situation, it would have been nice if you had starting training with `--save_every 10` or similar. That does seem slow.

Since there is no way to change this *after* training has started, I suggest trying a very short "throw away run" to estimate the speed and then start over with the desired number of epochs and saves.

You can now use `tensorboard` too to visualize the trai

[2017-03-14 15:16] #59 closed

[2017-03-14 15:21] ubergarm commented on #63
I'm interested in this as well and have been reviewing your PR.

If possibly I'd like to split out the `eval` and `perplexity` stuff into its own PR, and merge that first.

Then given the recent refactoring if there is a way to get your bidirectional work integrated in a way that allows the existing models to work the same but turn on bidirectional with a CLI argument e.g. `--model=bidirectional`

[2017-03-14 16:02] wrapperband commented on #59
re : the time. It was 1400 neuron net, 200,000 lines of data 2200 "pages" , slightly less than Lord of the Rings, on a R9 290.

[2017-03-15 18:30] hoomanNo5 commented on #91
Hi, I'm struggling to get good results as well. This is my first time using a LSTM RNN and I'm relatively new (cliche response) but I've gotten human readable responses after training with my dataset using other RNNs. I get only garbage here. A couple things I've noticed that are definitely bad but I don't know why yet:

- I'm using TF-gpu 1.0.1
- I'm on Ubuntu 14.04
- I'm using Py 3.5
- I train u

[2017-03-15 20:43] ubergarm commented on #91
Also, people have had good success with this specific repo, here is an example of generating music in ABC notation to midi:  https://maraoz.com/2016/02/02/abc-rnn/

Tuning your models is kind of a "dark art" at this point. My best advice in general is:

1. Start with as much clean input.txt as possible e.g. 50MiB
2. Start by establishing a baseline using the default settings.
3. Use tensorboard to

[2017-03-15 23:54] #61 closed

[2017-03-15 23:59] ubergarm commented on #52
I've had Out Of Memory issues using my video card which has 8GiB RAM if I increase the model parameters too much.

@PratikshaTaneja did you try a smaller model e.g.
[code]

If you're still having problems using the latest version of this repo, feel free to open a new issue.  Thanks for reporting on your experience!

[2017-03-15 23:59] #52 closed

[2017-03-16 00:12] ubergarm commented on #33
@fujimotomh I like how you've cleaned up a lot of the code in your fork.

It may be possible to pull in some of your work back to this repo.  The easiest might be to just get the `temperature` stuff from `sample.py` back. The other features might take more work now that the forks have diverged.

Anyway, thanks for sharing!

[2017-03-16 13:43] tgy commented on #85
I have the same problem with tf 1.0.0 CPU, the problem is that `GRUCell`'s state is not a tuple like in `LSTMCell`. Thus, when trying to `enumerate(model.initial_state)`, it's not working.

[2017-03-16 14:19] hoomanNo5 commented on #91
You're right about the size. I actually had 4.3MB in my corpus but I removed a big chunk of it because I thought it was too different from the rest of my corpus.

I will remove the dropout to see if it gets better results. I will definitely increase the sequence length. Will that drastically increase the iteration calculation time?

One of my nagging questions in my head is, "what is clean data fo

[2017-03-16 15:15] ubergarm commented on #85
Thanks for the report @tgy I'll gave it another look and confirmed it is broken for both `rnn` and `gru` models.

Filing as a bug.

Feel free to submit a PR if you have a fix that works across all 4 cell types including `lstm` and `nas`.

[code]

[2017-03-16 15:17] ubergarm commented on #91
@hoomanNo5 another interesting post I read about mixing input from various authors:

https://www.gwern.net/RNN%20metadata

Technically you can mix anything you want into a big `input.txt`.  It really depends on what you're trying to get out because: whatever you put into the system, is what you'll get out of the system.

If you use a lot of different formats in one training, then the model may "wa

[2017-03-16 16:09] virxxiii commented on #91
Thanks everybody for your input!

I have finally managed to get **waaaay better** (actually really good) results by reducing the num_layers to 3. It seems to me that anything above 3 results in drastically worse results. I don't know why this is, I'm just telling you what I observed. It might help you.

As for the dropout: I'd really appreciate if you could give me a short explanation about how it

[2017-03-16 18:24] pisiiki commented on #85
@ubergarm, a workaround is to avoid state_is_tuple=True. However tf will complain. I have also some code that supports some of the rnn cells and I did that but I think I will end up writing code for the two cases. Also NASCell has been updated recently, I think it is using the tuple state now (on github master branch). so it should work if you rebuild tf.

[2017-03-16 18:52] hoomanNo5 commented on #91
@ubergarm So here is what I did:

- increased my input.txt to 18.8MB.
- increased rnn_size to 512 and kept layer to 2
- seq_length is 250
- 4000 iterations --> 4000/17350 (epoch 11), train_loss = 0.631, time/batch = 0.481
- I rechecked my hardware, I have a 1080 instead of 1070.
 output is still meaningless, but it does sound kind of like something that makes sense.

A couple of questions come to

[2017-03-16 19:30] tgy commented on #85
There's a [Google seq2seq implementation](https://github.com/google/seq2seq) that has been open sourced a few days ago. The code is very generic and might be a good source of inspiration for making *char-rnn* model's cell type generic.

[2017-03-16 20:01] ubergarm commented on #85
Thanks @pisiiki I'll give it a try, I did remove that `state_is_tuple=True` which probably broke two of the cells.  If `nas` supports it now then I can put it back and hopefully all will be well again.

Thanks @tgy I wanna check that out, its hard to come into an existing repo with many features and figure out the basics: this reference should help.

[2017-03-17 17:02] gwern commented on #91
I was just reading this and was about to point this out: most people strongly recommend against using >3 layers in RNNs, and even 1 layer often works well, because, as you discovered, it works horribly. (For example, I think Karpathy mentions this in his RNN post.) It's either too much computation per character or it's a depth problem, the same way you can't train regular feedforward or CNN NNs mo

[2017-03-19 08:43] xwzy opened #95 "problem with --init_from"
When I use --init_from=./save to restore my model, it starts to init a new model, is there anything wrong in my command?

python3 train.py --data_dir=./data/mydata --init_from=./save

[2017-03-19 10:14] xwzy commented on #95
If I only use --init_from=./save
output is:
loading preprocessed files
Traceback (most recent call last):
  File "train.py", line 140, in <module>
    main()
  File "train.py", line 55, in main
    train(args)
  File "train.py", line 82, in train
    assert saved_chars==data_loader.chars, "Data and loaded model disagree on character set!"
AssertionError: Data and loaded model disagree on character

[2017-03-19 10:39] xwzy commented on #95
I understand what happened!

[2017-03-19 10:39] #95 closed

[2017-03-21 12:22] PratikshaTaneja commented on #61
Thank you so much for your help.
But can we make our output text semantically correct. I  mean the output
produced make no sense. Can we  make it more sensical?

On 16 March 2017 at 05:24, ubergarm <notifications@github.com> wrote:

[2017-03-21 16:29] ubergarm commented on #61
This algorithm is trained by learning the probability distribution of a sequence of arbitrary characters. Then you generate strings of characters using `sample.py` based on the trained model.

The algorithm has no concept of higher level semantics expressed as we might discuss them. This is *very* powerful as it can work over almost any input data without a human trying to impart "expert knowledge

[2017-03-22 19:14] woto opened #96 "Continue train"
Hi, sorry for lame question. How i should run subsequent (continue from last point) trains?
And which files should i save? is it enough 'data' and 'save' directories?
Can't test by myself, due to space limit in aws.

[2017-03-22 20:20] Jaspi10 opened #97 "sample.py crashes if training data did not have a space"
When sampling a model, whose vocab does not contain a space I get the following error:

[code]

Simplest test case is that `Hello world!` works, but `Helloworld!` dose not.

I'm using tensorflow-gpu on python 3.5.0.

[2017-03-22 20:29] Jaspi10 commented on #96
From ``python3 train.py --help``:
[code]

All of these are located in your save directory. Which means apart from your data you only need the files in there.

[2017-03-23 00:43] woto commented on #96
@Jaspi10 oh,  sorry for the innatantion, thank you!

[2017-03-23 00:43] #96 closed

[2017-04-21 14:37] SRombauts commented on #97
For future reference, you can simply work around this by specifying manually a prime texte with something adequate (that is, one or more character present in your vocabulary) like:

[code]

[2017-04-22 08:37] ProbonoBonobo opened #102 "Instructions for sampling prior models?"
I've searched the repository, read the documentation a few times, and tried invoking `python sample.py` on anything that looked remotely interesting in the data directory. Calling `python sample.py` works great on the model that's currently in training. How do I call an arbitrary model? Is there some parameter keyword I need to pass along with the filename argument to sample.py?  "--sample" seemed

[2017-04-23 23:51] ProbonoBonobo commented on #102
I think I've figured out the missing detail that helps explain some of my confusion from earlier, I didn't realize the significance of the metadata files being generated in the save_dir. tl;dr: relative to the Torch implementation, there is a nice suite of tools  save dir (to which models are saved) isn't simply a standalone numpy vector. Whereas in the well-known Karpathy implementation the outpu

[2017-04-24 00:26] #102 closed

[2017-04-30 16:43] wadhwasahil opened #103 "Word vector using char rnn?"
Hi
First of great effort to put char rnn into tensorflow. I am just curious if we can get word vector using this approach?

Thanks

[2017-05-09 07:03] #103 closed

[2017-05-10 15:04] #57 closed

[2017-05-15 20:52] john-parton commented on #62
I believe you can add
[code]
after
[code]

[2017-05-22 04:12] nijianmo commented on #17
The code has an assumption that the sequences at the same position of each batch are actually subsequent . So all the first sequence of batch 1, 2, 3, ... in your case is [0,1,2,3,4], [5,6,7,8,9], [10,11,12,13,14] which are sequential and they can share the same hidden state in training over different batches.

[2017-05-29 09:07] larin92 opened #104 "2 train steps for a single batch?"
Hi,

There are such lines of code at `train.py` file:
train_loss, state, _ = sess.run([model.cost, model.final_state, model.train_op], feed)
summ, train_loss, state, _ = sess.run([summaries, model.cost, model.final_state, model.train_op], feed)

Means, we run 2 train steps on a single batch. Why?

[2017-06-15 11:48] tlhumphrey2 opened #105 "Output activations of individual neurons of a given layer of a trained model."
I want to see what the activations are for individual neurons of a given layer for a given input character.

Any suggestions?

[2017-06-23 12:41] shy1 commented on #104
directly above the  2nd line you quoted beginning with "summ, train_loss...," is the comment:

  `# instrument for tensorboard`

anytime you see tensorFlow code referring to a summary or summaries, it likely there to facilitate [tensorBoard](https://www.tensorflow.org/get_started/summaries_and_tensorboard) visualization

[2017-06-23 12:47] larin92 commented on #104
Yes, but this can be accomplished in one execution of session.run. It looks like one of those lines should be commented out at a time

[2017-06-25 15:15] hugovk commented on #87
This should work with Python 2.7, just make sure you have Tensorflow 1.0 (and not, say, the latest Tensorflow 1.2).

[code]

[2017-07-25 12:09] GaoleMeng opened #107 "Where does the Variable of "embedding" comes from?"
Hi:
I have some question about understanding the model.py file:
[code]
I think this segment of code looks up the embedding of the input data and replace them with the corresponding embedding, but the "embedding" has not been calculated elsewhere using word2vec or others to initialize it, so where does this embedding matrix get the embedding of the word in the data?

I'm kinda new to NLP, sorry for

[2017-07-26 08:55] #107 closed

[2017-07-27 09:06] GaoleMeng commented on #104
@larin92 Yeah I notice the same problem, I saw someone made a pull request and delete one line. But the pull request is not accepted by the auto code check.

[2017-10-29 01:05] liyuanhangsc opened #112 "the tensorboard summary is slow"
in my gpu server, remove the summary tensor make training 10x times faster. Please consider add a switch to close tensorboard summary.

[2017-11-05 17:11] Bikash300895 opened #113 "Does not word with other language"
Where I have to change to support UTF-8. so that I can train it on other languages

[2017-11-22 17:23] john-parton commented on #113
It actually should work with utf-8 if you're using the latest version.

What are your versions:

* char-rnn-tensorflow
* tensorflow
* python

Thanks.

[2017-12-02 11:48] igo312 opened #114 "Problem 'TypeError: Expected int32, got list containing Tensors' in model.py"
This error caused because this code `output = tf.reshape(tf.concat(1, outputs), [-1, rnn_size])`, I want to know why a list could be connected with int and why do that

[2017-12-05 09:43] LargonD opened #115 "Feeding same _initial_state_ to all layers"
In the training phase the _self.initial_state_ is used as _cell.zero_state_ and _last_state_ of the last layer is kept:

    self.initial_state = cell.zero_state(args.batch_size, tf.float32)
    outputs, last_state = legacy_seq2seq.rnn_decoder(inputs, self.initial_state, cell, loop_function=loop if not training else None, scope='rnnlm')
    self.final_state = last_state

However, in the testing ph

[2017-12-09 09:22] lowtronik commented on #113
Actually the sample outputs my Greek text as raw utf-8 , "  \xcf\xce\x83\,  \xb1\xb9\  .........."

[2017-12-09 09:25] ShuvenduBikash commented on #113
@lowtronik that hex format. just decode it
result.decode("utf-8", "replace")

[2017-12-09 19:45] lowtronik commented on #113
@ShuvenduBikash  I just deleted  .encode('utf-8')  and it works

[2017-12-15 05:16] weiqingccao opened #116 "Confusion in train.py"
Hi, may I ask what does Line 115-117 do in train.py?
` for i, (c, h) in enumerate(model.initial_state):
                    feed[c] = state[i].c
                    feed[h] = state[i].h`
In the previous line, doesn't the x and y has already assigned to 'feed' already?
Thanks!

[2018-01-03 04:41] john-parton commented on #112
I'm pretty sure the culprit is https://github.com/sherjilozair/char-rnn-tensorflow/blob/401ebfd639eb32586a9bf9312e3b442abc47ebed/model.py#L85-L86

(Histogram summaries involve transferring a lot of data from the GPU to the CPU.)

You might try commenting them out. The graph and train_loss summaries are usually more useful, anyways.

[2018-01-08 02:19] laotao commented on #63
@ubergarm I need this feature too. I'm using the model to do spell checking. It worked except for the first few chars. I think a bidirectional model will solve my problem.

[2018-01-10 10:35] aimaaonline opened #118 "how to test trained model"
i could not get how to test the model i have trained using train.py
please mention command.
i am using ubuntu 16.04

[2018-01-10 17:22] itdaniher commented on #118
I think you're looking for sample.py to generate text.

[2018-01-11 05:42] aimaaonline commented on #118
Yeah please guide me how to test the trained model. I have trained it on
some data sets. But now i could not get how it will generate text or
predict word

On Jan 10, 2018 10:22 PM, "Ian Daniher" <notifications@github.com> wrote:

[2018-01-11 09:29] aimaaonline commented on #118
i got it.the only problem was, that inspite of python i used python3  because it is python 3.5 which is configured with tensorflow 1.0 +
 python3 sample.py --init_dir=output --start_text="The meaning of life is" --length=10

[2018-01-12 23:45] dougcs8 opened #119 "using the tool to create 2D game maps"
I am new to machine learning and trying to use the tool to train for creating 2D game maps. The format of my maps are 20 rows by 100 columns of characters with the rows and columns rotated 90 degrees. where each column becomes a 20 character word with words separated by spaces. For training I did `python train.py --data_dir data\levels --seq_length 10 --batch_size 20 --num_epochs 1000` and for sam

[2018-01-24 06:07] jenniferzhu opened #120 ".meta checkpoints are the same size?"
I am trying to visualize the model using Netron. However, every .meta checkpoint files are the same size (2.1 MB), no matter how big is the input data I used. I am wondering if something wrong with my .meta files?

[2018-02-05 12:47] hccho2 opened #121 "in TextLoader.create_batches. self.batch_size ==> self.seq_length"
Sorry. My Mistake.
No Problems.

[2018-02-05 13:46] #121 closed

[2018-02-16 13:21] foocp commented on #113
I have the same problem, it generates raw text like this

However if I follow your suggestion and delete .encode('utf-8') it fails with this error:

[2018-02-23 10:06] kde99 commented on #119
Did you try passing `-n 20` as a parameter to sample.py?

[2018-02-25 04:51] tonywangcn opened #122 "Is there anyone serving this model with tensorflow serving successfully?"

[2018-03-08 15:48] sangjeedondrub commented on #118
[code]

[2018-03-26 19:41] saurabh-bengani opened #124 "Too much of \n in text genearated"
when generating texts from shakespeare's text as input text a lot of \n are present. Any solution for this ?

[2018-03-28 20:52] Atrifex opened #125 "Variable output for the same prime"
I get variable outputs for the same priming of the network. Since the weights at the same between samples, shouldn't the output be deterministic?

[2018-03-28 21:20] #125 closed

[2018-04-05 06:49] santoshchanveer opened #126 "how to give utf-8 input to model"
i could not get how to give  hindi(utf-8) word as input  to model in sample.py
please mention command or steps
i am using anaconda with spyder

[2018-04-06 10:53] lucav31 opened #127 "KeyError in Sample.py"
I used the program all the day and it worked great but with my last experiment I got the following error message:

Traceback (most recent call last):
  File "sample.py", line 46, in <module>
    main()
  File "sample.py", line 27, in main
    sample(args)
  File "sample.py", line 43, in sample
    args.sample).encode('utf-8'))
  File "C:\Daten\Programmierung\Python\JokeGenerator\char-rnn-tensorflo

[2018-04-07 05:24] #126 closed

[2018-04-07 05:26] santoshchanveer commented on #127
python --prime (your input )
dont use double quotes for input word

[2018-04-16 18:57] advanceddeveloper opened #128 "Prepelpxeity starts increasing after some time"
I changed network size from 2 layers to 4 layers and I changed batch size to 1, now after about 30 epochs I see pelpxerity starting to increase, which is, I think, unexpected.

First about 25 epochs it decreases, but then it starts behaving weirdly, and resulting model is worse than before 25 epochs. Is this a bug?

Here is my tensorboard plot. As you can see at the botton graphs, perlexilty is fl

[2018-04-16 18:58] advanceddeveloper commented on #128
*perplexity

[2018-05-03 23:39] #97 closed

[2018-05-23 14:11] yashjakhotiya commented on #95
Can you please explain how did you solve this issue?

[2018-05-31 07:03] imsurinder90 opened #129 "How to run the trained model using flask api?"
I created a route localhost:5050/predict to run the model with the given statement.
[code]

but It gives error below error:
[code]

Here is the code:

[code]

Please help.

[2018-07-02 01:28] johndpope opened #130 "enhancement - plug in elmo into word embeddings"
https://github.com/deepmipt/DeepPavlov/pull/292

[2018-07-02 01:32] johndpope commented on #130
https://github.com/johndpope/elmo_experiments/blob/master/elmo_experiment/notebooks/elmo_text_classification_on_imdb.ipynb

[2018-07-05 01:12] spectrometerHBH commented on #42
I got the error 'tuple' object has no attribute 'eval' when applying your code.
It's 'state = self.cell.zero_state(1, tf.float32).eval(session=session)' that go wrong.
Can you help me with handling this?

[2018-07-15 10:33] vibss2397 commented on #91
guys, i too am having unsatisfactory results while using lstm, i did not use this code but i looked through this and andrej's code before trying my implementation. my config is:
BATCH_SIZE=25
LAYER_NUM=2
SEQ_LENGTH=75
HIDDEN_DIM=128
GENERATE_LEN=500
LEARNING_RATE=2e-3

my error is down to 4 but its still not constructing proper words or sentences

----
epoch 582 iteration 100 loss 4.223689
----
 n

[2018-07-25 00:33] sssss465 opened #132 "Exporting to TFlite"
Is it possible to export this model into TFlite? Would i have to convert the model into a TFLite flatbuffer

[2018-08-29 06:09] adityashrm21 commented on #124
I created a pull request for this issue itself.
https://github.com/sherjilozair/char-rnn-tensorflow/pull/134

[2018-09-07 12:31] saurabh-bengani commented on #124
its not merged yet right ?. I had done the same fix for that UTF-8 part. Thanks anyway

[2018-09-08 23:10] adityashrm21 commented on #124
Yes, it is not merged yet. No problem!

[2018-09-18 04:39] payne911 opened #135 "A few concerns and questions"
First of all, I'm confused as of how the `save_dir` works: if I train a network pointing to a directory, and then eventually train another one pointing to that same one, it seems like it overwrites properly the older data, but does not clear the extra-data from the older model. I think this is what caused the `assert saved_chars == data_loader.chars, "Data and loaded model disagree on character se

[2018-10-30 11:43] zmssqqli opened #136 "求助，我想配置这套代码，阿里云最近双11活动一折可以买云服务器，我该买哪一种呢，大家帮我看下？"
地址在这里： https://m.aliyun.com/act/team1111/#/share?params=N.9g4CZ2TwSh.f3afagaq
朋友分享给我的，登陆淘宝号进去发现折扣很大，优惠了很多，很心动，想入手一款自己学习用，麻烦大家帮我看下选择哪种划算，谢谢

[2018-10-30 11:43] zmssqqli commented on #136
谢谢

[2019-01-27 06:16] abhirut commented on #42
Why is probability the `mean` of the character probabilities? Shouldn't it be the product?

[2019-02-20 08:47] Ijustakid opened #137 "How to change database into digital data？"
Thank you very much for your contribution but I have a question.
I need to train the RNN model for digital data( A time series in numerical form).Finally, I need to classify or predict the data.
But I don't know how to change the database and what parameters to modify.

[2019-05-14 13:31] effdotsh opened #138 "How do you open/view the final result?"

[2019-05-14 13:57] hugovk commented on #138
It outputs to the command line.

For example:

[code]
[code]
[code]

[2019-05-14 14:06] effdotsh commented on #138
OK thank you, also how do you change the number of output lines?

[2019-05-14 14:18] hugovk commented on #138
You can choose how many characters are output with `-n`:

[code]

[2019-05-16 13:51] Beitadoge commented on #54
@fujimotomh  i agree with you ,i think the loop_function is not necessary，it  has never been used

[2019-05-26 11:18] #138 closed, assigned to nobody

[2019-08-03 16:39] Mahawi3211 commented on #112
How can I see the accuracy rate in tensorboard?

[2019-10-02 02:10] #130 closed

[2020-03-23 20:59] Ashvin-Ranjan opened #140 "train.py giving no output"
When using train.py or train.py --help or any other program there is no output and it just stops with no error.

[2020-03-23 22:53] Ashvin-Ranjan commented on #140
I figured it out. I am on windows so I removed the beginning of the file.

[2020-03-23 22:53] #140 closed, assigned to nobody

[2021-06-05 19:24] jjsr opened #142 "How to modify the output layer to only give the next character in sequence given the previous characters ?"
I am new to NNs .I am able to understand the model is trained in a way that given input character sequence it can predict next character , Please guide me what model parameters i have to save while training or any pseudo  algorithm to implement the same  will help

[2021-07-06 14:17] victorr0 commented on #142
Could you rephrase your question, because it is unclear / ambiguous. The char-rnn already does what you ask in the title of your question. Couldn't hurt to check out the README.md, _Tuning_-section may be helpful for model parameters.

[2021-07-09 06:42] jjsr commented on #142
Thanks a lot victorr0 for writing back . Sorry for my bad phrasing . Yes I am able to figure that out later since i am quite new in the domain. Thanks for sharing this wonderful repo . that saves my life

[2021-07-09 06:42] #142 closed, assigned to nobody